.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    h1 {

    }

    ul {
        a {
            margin-right: 10px;
            text-decoration: none;
            color: #444241 
        }

        a:hover {
            color: black
        }
    }
}